.home {
  position: relative;
  overflow: hidden;
  position: relative;
}

.circle {
  position: absolute;
  width: 1rem;
  height: 1rem;  
  border-radius: 50%;
  background-color: #272727;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: move 10s linear infinite;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, 200px);
  }
}